{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Base Page</title>
			<h1>Welcome to my site!</h1>
			<p>This is a base page template using Bootstrap and CSS.</p>
		</main>
		<footer>
			<p>&copy; 2023 My Site. All rights reserved.</p>
		</footer>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js" integrity="sha384-hcO+qr4F4A4Q/PAQ1Y/56/4ZInZeFY12/4I4V4Nnzp1tIBXDMtKki1Czz+Yd3fPv" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+JhO6I/9Xa2z+Jl/bk2+Q5gJQozkdz" crossorigin="anonymous"></script>
{% block body %}
{% endblock %}
</body>
</html>
